.product-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 30px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #b12704;
    margin-bottom: 15px;
}

.product-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.product-button:hover {
    background-color: #ddb347;
}
